
/* fader hide text */
.RDmXvc.Jzkafd.LrrQLb {
    opacity: 0;

    height: 80px;
}

/* make text invisible ,.EyBRub.jUja0e.aPfNm */
.h7Tj7e:not(.zc75bb) .RJPOee.mNfcNd, .h7Tj7e:not(.zc75bb) .EyBRub.jUja0e.aPfNm {
    opacity: 0;
    display: none;
}

/* "Searching" preview */
.hoqQCc.MyTwIe {
    height: 46px !important;
}

/* "Generating" preview */
[class="hoqQCc MyTwIe"] {
    height: 46px !important;
    opacity: 0.2 !important;
}